{% extends "base.html" %}

{% block content %}

	{% include "athletes/sport_nav.html" %}
	
	<table>
		<tr>
			<td>Number</td>
			<td>Name</td>
			<td>Position</td>
			<td>Sport</td>
			<td>League</td>
			<td>Division</td>
			<td>Team</td>
		</tr>
	{% for athlete in athletes %}
		<tr>
			<td>{{ athlete.number }}</td>
			<td>{{ athlete }}</td>
			<td>{{ athlete.position }}</td>
			<td>{{ athlete.team.division.league.sport }}</td>
			<td>{{ athlete.team.division.league }}</td>
			<td>{{ athlete.team.division }}</td>
			<td>{{ athlete.team }}</td>
	{% endfor %}
		</tr>
			

{% endblock content %}
